@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  line-height: 1.7;
  font-size: 19px;
}

#root {
  background-color: rgb(19, 19, 19);
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.emoji-size {
  font-size: 5rem;
}